html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height:100%;
    padding:0px;
    margin:0px;
    border: 4px solid #9DCB3B;
    background: #35353E;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
    position: relative;
    font-family: "Arail","Microsoft YaHei","宋体","Heiti SC";
}
a{
    text-decoration: none;
    color:#000;
}
ul{
    padding:0px;
    margin:0px;
    list-style: none;
}
embed{
    width: 100%;
    height: 100%;
}
.logo{
    width:250px;
    height: 35px;
    position: absolute;
    top:20px;
    left:30px;
    z-index: 5;
    margin:0px;
}
.logo a{
    display: block;
    background: url(../../../images/frontend/app/logo250.png) no-repeat;
    font-size: 0px;
    width:100%;
    height:100%;
}

/**
*菜单
*/
.menuContainer{
    width: 200px;
    position: absolute;
    top:70px;
    left:30px;
    z-index: 5;
}
.menu .menu-item{
    margin: 0px 0px 20px 0px;
}
.menu .menu-item a{
    background: #C1C1C7;
    padding:0px 5px;
    color:#35353E;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.menu>.menu-item:first-child +.menu-item +.menu-item +.menu-item{
    margin:40px 0px;
}
.menu>.menu-item>a:hover,.menu>.current-menu-item>a,.menu>.current-post-ancestor>a,.menu>.current-menu-ancestor>a{
    background: #9DCB3B;
}
.menu .menu-item .sub-menu{
    display: none;
}
.menu .current-menu-ancestor .sub-menu,.menu .current-menu-item .sub-menu{
    display: block;
}
.sub-menu .menu-item{
    margin:10px 0px;
}
.sub-menu .menu-item a{
    color: #fff;
    background: #000;
    padding:0px 5px 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.sub-menu .menu-item a:hover,.sub-menu .current-menu-item a{
    background: url(../../../images/frontend/app/subMenuHover.png) repeat-y #C1C1C7;
}


/**
*搜索
*/
.search{
    position: absolute;
    top:20px;
    right:20px;
    z-index: 5;
}
.search .searchInput{
    background:url(../../../images/frontend/app/search.png) 5px no-repeat #87878E;
    padding-left:27px;
    border: none;
    height: 20px;
    line-height: 20px;
    width: 200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.main{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:20px;
    /*background: yellow;*/
    z-index: 1;
    overflow: hidden;
}

/**
* 头条文章
*/
.headLineListContainer{
    margin-left: 15%;
    height: 100%;
    overflow: hidden;
}
.headLineList{
    left:0px;
    top:0px;
    white-space: nowrap;
    font-size: 0px;
    height: 100%;
    position: relative;
}
.headLineList .headLineItem{
    display: inline-block;
    width:75%;
    height: 100%;
    position: relative;
    margin:0px;
    border: none;
}


/**
* 缩略图层
*/
.posterContainer{
    height: 100%;
    width:100%;
    position: absolute;
    top:0px;
    z-index: 2;
    cursor:pointer;
}
.videoPoster{
    width: 100%;
    height:100%;
    display: block;
}
.videoPlayIcon{
    display: block;
    width:50px;
    height: 50px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-25px 0px 0px -25px;
    background: url(../../../images/frontend/app/playIcon.png) no-repeat;
    cursor: pointer;
    z-index: 2;
    font-size: 0px;
    cursor: pointer;
}
.playerContainer{
    position: absolute;
}

/**
* 摘要描述
*/
.description{
    position: absolute;
    top:70px;
    right:20px;
    width:200px;
    z-index: 5;
    background: #fff;
}
.description .title{
    font-size: 16px;
    padding:5px;
    margin:5px 0px;
}
.categoryDescription .title{
    background: #87878E;
    margin:0px;
}
.description .excerpt{
    padding:5px;
}
.description .category{
    background: #87878E;
    margin:0px;
    padding:3px;
}

/**
*分类页
*/
.centerContainer{
    position: absolute;
    left: 300px;
    top: 70px;
    bottom: 0px;
    right: 300px;
}
.centerContainer .singleTitle{
    background: #C1C1C7;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    margin: 0px 0.83% 40px 0.83%;
    padding:0px 0px 0px 10px;
}
.centerContainer .singleTitleOne{
    margin:0px;
    background: #000;
    color:#fff;
}
.centerContainer .videoListContainer{
    position: relative;
}

/**
*分页
*/
.pageItem{
    display: block;
    width: 40px;
    height: 60px;
    background: url(../../../images/frontend/app/next.png) no-repeat;
    position: absolute;
    top:50%;
    font-size: 0px;
    right:-50px;
    margin-top:-30px;
}
.prevPage{
    background: url(../../../images/frontend/app/prev.png) no-repeat;
    left:-40px;
}

/*新闻、项目分类标题*/

.videoList{
    font-size: 0px;
}
.videoItem{
    width: 23%;
    position: relative;
    overflow: hidden;
    border:1px solid #9DCB3B;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin:1%;
}
.videoItem .title{
    position: absolute;
    bottom:-30px;
    left:0px;
    font-size: 14px;
    height:20px;
    line-height: 20px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #C1C1C7;
    color:#000;
    margin:0px;
    width: 100%;
    transition:bottom .5s linear;
    -webkit-transition:bottom .5s linear;
    -moz-transition:bottom .5s linear;
}
.videoItem:hover .title{
    bottom:0px;
}
.itemList{
    position: absolute;
    left: 0px;
    top: 50px;
    right: 0px;
    bottom: 0px;
}
.item{
    width: 100%;
    position: relative;
    font-size: 0px;
    margin-bottom:20px;
    background: #87878E;
}
.item .title{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    background: #87878E;
    margin: 0px;
    padding:0px 0px 0px 10px;
}
.item .thumb{
    width: 70%;
    height:auto;
}
.item .detail{
    position: relative;
}
.item .abstract{
    top:0;
    left:70%;
    right:0;
    bottom:20px;
    font-size: 14px;
    vertical-align: top;
    background: #C1C1C7;
    position: absolute;
}
.item .abstract .about{
    padding:10px;
    margin:0px;
}
.item .abstract .excerpt{
    padding:10px;
    margin: 5px 0px 0px 0px;
}
.singleContent{
    background: #C1C1C7;
    position: absolute;
    left: 0px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    padding:10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/**
*关于我们
*/
.aboutItemList{
    margin: 70px 300px 0px 300px;
}
.aboutItemList .aboutItem{
    margin-bottom: 20px;
}
.aboutItemList .aboutItem .title{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    background: #87878E;
    margin: 0px;
    padding:0px 0px 0px 10px;
}
.aboutItemList .aboutItem .content{
    background: #C1C1C7;
    margin: 0px;
    padding:10px;
}

/**
*底部
*/
.footer{
    position: absolute;
    background: #000000;
    height: 20px;
    line-height: 20px;
    color:#fff;
    bottom:0px;
    left:0px;
    width: 100%;
    z-index: 5;
}
.copyRight{
    display: inline-block;
    margin:0px 0px 0px 10px;
}

/**
*友情链接
*/
.linkList{
    display: inline-block;
}
.linkList li{
    width: auto;
    margin-left:10px;
}
.linkList li a{
    color:#fff;
}

.hidden{
    display: none;
}

/**
*404页面
*/
._404Container{
    width: 350px;
    height: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-100px 0px 0px -100px;
}
._404Container ._404Icon{
    font-size:0px;
    width:65px;
    height:65px;
    margin:auto;
    display: block;
    background:url(../../../images/frontend/app/404.png) no-repeat;
}
._404Container ._404Content{
    color: #9DCB3B;
    font-size: 18px;
}
._404Container ._404Content a{
    color:#fff;
}