html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height:100%;
    padding:0px;
    margin:0px;
    border: 4px solid #9DCB3B;
    background: #35353E;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Arail","Microsoft YaHei","宋体","Heiti SC";
}
a{
    text-decoration: none;
}
ul{
    padding:0px;
    margin:0px;
    list-style: none;
}
.logo{
    width:123px;
    height: 98px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-49px 0px 0px -61.5px;
}
.logo a{
    display: block;
    background: url(../../../images/frontend/app/logo.gif) no-repeat;
    font-size: 0px;
    width:100%;
    height:100%;
}
.langMenu{
    position: absolute;
    right:20px;
    top:40px;
}
.langMenu li{
    margin-top: 20px;
}
.langMenu a{
    font-size: 14px;
    color:#fff;
}

._404Container{
    width: 350px;
    height: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-100px 0px 0px -100px;
}
._404Container ._404Icon{
    font-size:0px;
    width:65px;
    height:65px;
    margin:auto;
    display: block;
    background:url(../../../images/frontend/app/404.png) no-repeat;
}
._404Container ._404Content{
    color: #9DCB3B;
    font-size: 18px;
}
._404Container ._404Content a{
    color:#fff;
}